{% extends "base.html" %}

{% block style_block %}
{% endblock %}

{% block content %}
    
    <h2>2014 NFL Divisional Playoffs</h2>
    <h4>Duration: 01/05/14 - 01/12/14</h4>
    <h4>Welcome to the first round of ChiFX free-play. Instructions:</h4>
    <ol>
        <li>Log in using your Google account</li>
        <li>Everyone starts with $1000 fake money, $1 for 1 volume order</li>
        <li>Browse the player "securities" and see where the markets are trading</li>
        <li>Submit buy/sell orders on the players</li>
        <li>View your active orders and completed trades under "My Portfolio"</li>
        <li>Securities close end-of-day 01/12/14 at a value based on the scoring system below</li>
    </ol>
    <h4>Scoring system:</h4>
    <p>QB: touchdown(+4); 10yds(+1); sack(-1); interception(-2); fumble(-2)</p>
    
    <br /><br />
    <h4>Chicago Fantasy Exchange (ChiFX) is an exchange trading platform aiming to provide both an avenue of speculation and a source of market-based information for fantasy football points.</h4>
    <div>&nbsp;</div>

{% endblock content %}

{% block tail_script %}
{% endblock tail_script %}
