{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h2>Portfolio: {{ user[0].nickname() }}</h2>
    <div>&nbsp;</div>
    
    <h3>Money: ${{ portfolio.points }}</h3>
    
	<h3>Active Orders</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
				<th>Timestamp</th>
                <th>Security</th>
                <th>Buy/Sell</th>
                <th>Point Level</th>
                <th>Volume</th>
				<th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.timestamp }}</td>
                <td>{{ order.security.name }}</td>
                <td>{{ order.buysell }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.volume }}</td>
				<td>
					<a href="{{ url_for('delete_order', nickname=user[0].nickname(), ord_key=order.key.urlsafe()) }}" class="btn">Delete</a>
				</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Completed Trades</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
				<th>Timestamp</th>
                <th>Security</th>
                <th>Buyer</th>
                <th>Seller</th>
                <th>Point Level</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr>
                <td>{{ trade.timestamp }}</td>
                <td>{{ trade.security.name }}</td>
                <td>{{ trade.buy_user }}</td>
                <td>{{ trade.sell_user }}</td>
                <td>{{ trade.price }}</td>
                <td>{{ trade.volume }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block tail_script %}
{% endblock tail_script %}
