{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h2>{{ sec.name }}</h2>
    <div>&nbsp;</div>
    
	<!--<p>
		<a class="btn btn-primary" data-toggle="modal" data-target="#new-order-modal">
			<i class="icon-plus-sign" icon-white"></i>
			New order
		</a>
	</p>
	{% include 'new_order.html' %}-->

	<table class="table">
		<thead>
			<tr>
				<th>Buy Volume</th>
				<th>Point Level</th>
				<th>Sell Volume</th>
			</tr>
		</thead>
		<tbody>
			{% for price, volume in book['sells'].items() %}
			<tr>
				<td>&nbsp;</td>
				<td>{{ price }}</td>
				<td>{{ volume }}</td>
			</tr>
			{% endfor %}
			{% for price, volume in book['buys'].items() %}
			<tr>
				<td>{{ volume }}</td>
				<td>{{ price }}</td>
				<td>&nbsp;</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
    <h3>Active Orders</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Timestamp</th>
                <th>User</th>
				<th>Buy/Sell</th>
				<th>Point Level</th>
				<th>Volume</th>
			</tr>
		</thead>
		<tbody>
			{% if orders %}
			{% for order in orders %}
			<tr>
				<td>{{ order.timestamp }}</td>
                <td>{{ order.user }}</td>
				<td>{{ order.buysell }}</td>
				<td>{{ order.price }}</td>
				<td>{{ order.volume }}</td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
    
    <h3>Trade Log</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Timestamp</th>
                <th>Buyer</th>
				<th>Seller</th>
				<th>Point Level</th>
				<th>Volume</th>
			</tr>
		</thead>
		<tbody>
			{% if trades %}
			{% for trade in trades %}
			<tr>
				<td>{{ trade.timestamp }}</td>
                <td>{{ trade.buy_user }}</td>
                <td>{{ trade.sell_user }}</td>
				<td>{{ trade.price }}</td>
				<td>{{ trade.volume }}</td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>

{% endblock content %}

{% block tail_script %}
	<script>
        var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var buysell = form.find('#buysell').val();
                var price = form.find('#price').val();
                var volume = form.find('#volume').val();
                if (!(buysell)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#buysell', 'Buysell is required', 'right');
                }
                if (!(price)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#price', 'Price is required', 'right');
                }
				if (!(volume)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#volume', 'Volume is required', 'right');
                }
            },
            init: function () {
                var self = this;
                var order_form = $('#order-form');
                order_form.on('submit', function (evt) {
                    self.validate(order_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });
    </script>
{% endblock tail_script %}
