{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h2>All Securities</h2>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Last Traded</th>
                <th>Best Bid</th>
                <th>Best Offer</th>
            </tr>
        </thead>
        <tbody>
            {% for p in securities %}
            {% set p_id = p.key.id() %}
            <tr>
                <td>
					<a href="{{ url_for('sec_info', pos=p.position, sec_id=p_id) }}">{{ p.name }}</a>
				</td>
                <td>{{ p.team }}</td>
                <td>{{ p.position }}</td>
                <td>{{ tops['lt'][p_id] }}</td>
                <td>{{ tops['bb'][p_id] }}</td>
                <td>{{ tops['ba'][p_id] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h5>FFToday.com Fantasy Point Projections</h5>
    <strong>Broncos</strong>
    <ul>
        <li>Manning: 22</li>
        <li>Moreno: 15</li>
        <li>Thomas: 15</li>
        <li>Welker: 6</li>
        <li>Decker: 5</li>
    </ul>
    <strong>Seahawks</strong>
    <ul>
        <li>Wilson: 18</li>
        <li>Lynch: 18</li>
        <li>Baldwin: 11</li>
        <li>Harvin: 5</li>
        <li>Tate: 4</li>
    </ul>

{% endblock content %}

{% block tail_script %}
{% endblock tail_script %}
